<div class="container">
  <div class="d-flex justify-content-start">
    <h1 class="pt-5">Edit Video</h1>
  </div>

  <br>

  <% if policy(@video).edit? %>
    <div>
      <%= simple_form_for(@video) do |f| %>
        <%= f.input :name %>
        <%= f.input :url %>
        <%= f.submit 'Update', class: 'btn btn-primary' %>
        <%= link_to "Return to videos list", videos_path, class: "btn btn-secondary" %>
      <% end %>
    </div>
  <% end %>

</div>
